<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */
// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wordpress.db.database }}');
/** MySQL database username */
define('DB_USER', '{{ wordpress.db.username }}');
/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress.db.password }}');
/** MySQL hostname */
define('DB_HOST', 'localhost');
/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');
/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');
/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'DCB5]{=pI#/w$9g1zPy0{V!?Q%_INVH%^E{.LzGWN|k>n4,],Y<d8-L4z{Lhlb7]');
define('SECURE_AUTH_KEY',  'AB;<ya-_%GqMyt,6uoCtyLlz=G|SmcXy$_VTm5=1b 7)] *Y&LQc6NjA=XTOw@=^');
define('LOGGED_IN_KEY',    '-cS|cC4GOq%4gE=gmeTaAbvl+]X7 DV^p^/S=A.wZ}ME-+,YREN>f62mT{yL++FX');
define('NONCE_KEY',        'wTY2{Gss9fK)Sc-R{NUnu$Em<vfpUKn+f-K}oMxm#+NNa(fBgSp@W_e[fV{>TL;G');
define('AUTH_SALT',        'BV5<;^L0/J?$?FR(0g!3!hfJrz8!ja}jsbGz7PeTl^GTay;B+)w`sSyX+&0k]:sK');
define('SECURE_AUTH_SALT', '~O83IS|bH:P@IMiU||0vzF{*P=ROoLSqIsl[qr3-U2{Y#m&S{i9=NWPm1={7cjD,');
define('LOGGED_IN_SALT',   '-5B#5t-J-KEBI`SO{:ucy;6|Vl]&2Zyw11igXZu@O4[YYi*-)kJnc2{jX+LO}o+k');
define('NONCE_SALT',       'j9p-<_pol:1hTYr!pPC2lUBxgU&1Qe+~j2%+HaD>cEY:!bur`r<,#|$DpkXx^?$9');
/**#@-*/
/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{{ wordpress.db.prefix }}';
/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);
/* That's all, stop editing! Happy blogging. */
/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');